.board {
    display: table;
    background-color: #f4f4f4;
    padding: 20px;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.body {
    background-color: #fff;
}

.title {
    font-size: 25px;
}