.card {
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    background-color: #61dafbaa;
}

.card-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 230px;
    justify-content: space-between;
    padding: 2px;
    margin: 2px;
}

.card-actions {
    display: flex;
    gap: 10px;
}

.card img{
    height: 150px;
    padding: 1.5em;
}
